<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2"
       name="Sauce Demo Test"
       parallel="tests">

    <listeners>
        <listener class-name="utils.listeners.TestListener"/>
        <listener class-name="utils.listeners.RetryTransformer"/>
    </listeners>

    <test name="Thread 1">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="Thread 2">
        <classes>
            <class name="tests.CartTest"/>
            <class name="tests.ProductsTest"/>
        </classes>
    </test>
</suite>
